@{
    ViewData["Title"] = "Local Events";
}
<h1>Local Events & Announcements</h1>
<hr />
<p class="lead">This feature is coming soon</p>
<a asp-action="Dashboard" class="btn btn-primary">Back to Main Menu</a>